.section {
    padding: 10px;
}
.section > .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    grid-gap: 15px;
}
.content > .section-image img {
    max-width: 100%;
} 
.content > ul {
    font-size: .95em;
    background-size: contain;
    background-repeat: no-repeat;
    background: rgba(255, 255, 255, 0.3);
}

.content > ul li > .section-background > .section-title {
    font-weight: 600;
}

@media (max-width: 640px) {
    .section > .content {
        display: block;
    }

    .content > .section-image img {
        display: none;
    }
}
